<div id="sidebar">
    <div id="sidebar-scroll">
        <div class="sidebar-content">
            <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
                <div class="sidebar-user-avatar">
                    <a href="">
                        <img src="assets/images/jonnathan-pena.jpg">
                    </a>
                </div>
                <div class="sidebar-user-name">
                    J Peña
                </div>
                <div class="sidebar-user-links">
                    <a href="">
                        <i class="gi gi-user"></i>
                    </a>
                    <a href="">
                        <i class="gi gi-envelope"></i>
                    </a>
                    <a href="">
                        <i class="gi gi-cogwheel"></i>
                    </a>
                    <a href="">
                        <i class="gi gi-exit"></i>
                    </a>
                </div>
            </div>

            <ul class="sidebar-nav">
                <li>
                    <a href="" class=" active">
                        <i class="gi gi-stopwatch sidebar-nav-icon"></i>
                        <span class="sidebar-nav-mini-hide">Dashboard</span>
                    </a>
                </li>
                <li class="active">
                    <a href="" class="sidebar-nav-menu">
                        <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                        <i class="gi gi-shopping_cart sidebar-nav-icon"></i>
                        <span class="sidebar-nav-mini-hide">Ecommerce</span>
                    </a>
                    <ul style="display: block;">
                        <li>
                            <a href="" class="active">
                                Dashboard
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>